h1 {
    color : rgb(0, 185, 31);
    text-align:center;
    font-size: 2em;
    font-weight: bold;
    background-color:black;
}

h2 {
    color: blue;
    font-size: 1.5em;
    text-align: center;
}

h3 {
    color: black
    font-size: 1.3em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #283645;
    overflow: hidden;
    
}

li a {
        color: white;
        padding: 20px;
        text-decoration: none;
        display: block;
        float: left;
    }

li a:hover {
            background-color: #1490D7;
}

li {
    font-weight:bold;
}

hr {
    min-width: 600px;
}

table, tr, td, th {
    border: black solid thin;
}

hr {
    min-width: 600px;
}

a {
    color: red;
    font-weight: bold;
}

a:hover {
    background-color: greenyellow;
}

p {
    font-size: 1em;
    margin-top: 30px;
    font-family:sans-serif, Arial, Helvetica;
    color: black;
}

img {
     width: 50%;
     margin-left: 25%;
     min-width: 50%
}

